# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/ember/dist/
/ember/tmp/

# dependencies
/ember/bower_components/
/ember/node_modules/

# misc
/ember/.env*
/ember/.pnp*
/ember/.sass-cache
/ember/.eslintcache
/ember/connect.lock
/ember/coverage/
/ember/libpeerconnection.log
/ember/npm-debug.log*
/ember/testem.log
/ember/yarn-error.log

# ember-try
/ember/.node_modules.ember-try/
/ember/bower.json.ember-try
/ember/package.json.ember-try
